@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script&display=swap');
/* Styling */

/* CSS syntax

selector {
  property: value;
  property: value;
}

*/

/* Type selctor */

p { /* select all <p> */
  font-size: 16px; /* 16px, ?pts, 100%, 1em */
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal .75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}
